#pragma once

constexpr char WIFI_SSID[] = "YOUR_WIFI_SSID";
constexpr char WIFI_PASSWORD[] = "YOUR_WIFI_PASSWORD";
constexpr char WIFI_SSID_FALLBACK[] = "YOUR_FALLBACK_WIFI_SSID";
constexpr char WIFI_PASSWORD_FALLBACK[] = "YOUR_FALLBACK_WIFI_PASSWORD";

constexpr char MQTT_HOST[] = "broker.example.net";
constexpr uint16_t MQTT_PORT = 1883;

constexpr char MQTT_TOPIC[] = "capteurs/esp8266/dht22";
constexpr char MQTT_CLIENT_ID[] = "esp8266-meteo-01";
constexpr char MQTT_USERNAME[] = "mqtt_username";
constexpr char MQTT_PASSWORD[] = "mqtt_password";